#about-us {
    margin: auto;
    padding: 20px 0px 20px 0px
}
.about-us__title {
font-family: Roboto,sans-serif;
font-weight: 400;
font-size: 45px;
background-color: rgb(244, 246, 248);
color: rgb(35, 36, 40);
text-transform: none;
letter-spacing: 1.35px;
}
.about-us-chapter {
    text-align: justify;
    font-size: 19px;
    overflow-wrap: break-word;
    line-height: 32.3px;
    -webkit-box-direction:normal ;
}
.booking-steps {
    padding: 90px 150px;
    display: flex;
    justify-content:space-between;
    min-width: 320px;
    position: relative;
}
.booking-steps-card{
    padding: 0px 27px 0px 27px;
}
