.about-us-block {
    display: block;
    padding: 90px 40px;
}


.about__title-us {
    color: var(--title-font-color);
    font-family: "Playfair Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    padding: 20px 0;
}

.accent-title-color {
    color: rgb(20, 169, 238);
}

.about-us-chapter {
    font-size: 19px;
    line-height: 1.7;
    font-family: Roboto, sans-serif;
    color: var(--title-font-color);
    text-transform: none;
}

.about__description {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*next block*/
.booking-bg__image {
    background-image: url(../img/about-us-bg.jpeg);
    background-size: cover;
    background-position: 100%, 100%;
}

.booking-steps {
    display: block;
    padding: 70px 25px 150px;
}

.booking-steps-card {
    background: var(--title-font-color-light);
    height: 100%;
    margin-bottom: 50px;
}

.step-number__image {
    position: relative;
    width: 300px;
    height: 220px;
    margin-top: 15px;
    margin-left: 40px;
}

.booking-steps-title {
    color: var(--beckground-dark);
    margin: 0 0 8px 40px;
    font-size: 22px;
}

.booking-steps-chapter {
    margin-left: 40px;
    margin-right: 50px;
    padding: 20px 0 20px;
}

@media (min-width: 760px) {
    .about-us-block {
        display: flex;
        justify-content: center;
        padding: 90px 20px 40px;
    }

    .about-us {
        padding: 0 30px;
    }
    .about__title-us {
        color: var(--title-font-color);
        font-family: "Playfair Display", sans-serif;
        font-size: 39px;
        line-height: 1.2;
        font-weight: 700;
    }

    .booking-steps-card {
        width: 300px;
        height: 300px;
        margin: 15px;
        margin-bottom: 50px;
    }

    .about__description {
        font-size: 17px;
        line-height: 1.6;
        padding-bottom: 10px;
    }

    .booking-steps {
        display: flex;
        justify-content: center;
        padding: 100px 15px 275px;

    }

    .step-number__image {
        position: relative;
        width: 150px;
        height: 80px;
        margin-top: 15px;
        margin-left: 40px;
    }

    .booking-steps-chapter {
        font-size: 14px;
        margin-left: 40px;
        margin-right: 50px;
    }
}

@media (min-width: 992px) {
    .about-us-block {
        display: flex;
        justify-content: center;
        padding: 130px 20px 40px;
    }

    .about__title-us {
        color: var(--title-font-color);
        font-family: "Playfair Display", sans-serif;
        font-size: 45px;
        font-weight: 700;
        padding: 20px 10px 30px;
    }

    .booking-steps {
        display: flex;
        justify-content: center;
        padding: 80px 0 400px;

    }

    .booking-steps-card {
        width: 350px;
        height: 250px;
        margin-right: 30px;
    }

    .booking-steps-chapter {
        color: var(--title-font-color);
        font-size: 15px;
        padding-top: 15px;

    }

}