.section-blog {
    padding: 0 24px;
}


.section-blog__tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-blog__tittle p {   
    margin: auto;
    margin-top: 3rem;
}
 

.section-blog__tittle-h2 {
    color: var(--title-font-color);       
    padding-top: 7rem;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    font: 0.8em sans-serif;
    text-transform: uppercase;
}


.sign-start-chapter {
    color: var(--sign-start-color);
}

.section-blog__tittle-h3 {
    color: rgb(80, 81, 85);
    font-family: Playfair Display;
    margin-top: 1.5rem;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.section-blog__blog-description {
    display:flex;
    justify-content: space-around;
}

.section-blog__tittle-p {    
    color: #707070;
    max-width: 650px;
    margin-top: 3rem;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 2em;
    
}

.section-blog__blog-container {    
    margin: auto;
    align-items: center;
    border: 1px solid #e5e6eb;
    width: 100%;
    height: 450px;
    margin-top: 3rem;
}

.section-blog__blog-container {
    display: flex;
    justify-content: center;
    align-items: center;   
}    

.section-blog__blog-container-empty {   
    font-size: 24px;
    font-weight: bold;
}
