.faq {
   background-color: var(--background-dark);
   --color-accordion: #A9A9A9;
}
.faq__main-text {
   color: var(--chapter-font-color-light);
   font-size: 19px;
   font-weight: 400;
}
.faq__accordion-header {
   color: var(--title-font-color-light);
   font-size: 17px;
   font-weight: 400;
   cursor: pointer;
   position: relative;
   background-color: #232428;
}
.faq__panel {
   color: var(--color-accordion);
   font-size: 14px;
   font-weight: 400;
}