.faq {
   background-color: var(--background-dark);
   --color-accordion: #A9A9A9;
}
.faq__general-grid {
   display: flex;
   flex-direction: column;
   max-width: 1200px;
   margin: auto;
   padding: 5px 27px 5px 27px;
}
.faq__general-text {
   display: flex;
   flex: 1;
   flex-direction: column;
   width: 100%;
   padding: 0 15px;
}
.faq__text {
   line-height: 1,7;
   font-weight: 400;
   font-size: 19px;
}
.faq__head-title {
   margin-top: 25px;
}
.faq__panel {
   display: none;
}
.faq__accordion-button {
   padding: 20px 0;
}
.faq__main-text {
   color: var(--chapter-font-color-light);
   font-size: 19px;
   font-weight: 400;
   margin-top: 25px;
}
.faq__accordion {
   margin-top: 25px;
}
.faq__accordion-header {
   color: var(--title-font-color-light);
   font-size: 17px;
   font-weight: 400;
   cursor: pointer;
   position: relative;
   border: none;
   outline: none;
   font-family: 'Roboto', sans-serif;
   background-color: #232428;
}
.faq__panel {
   color: var(--color-accordion);
   font-size: 14px;
   font-weight: 400;
   margin-top: 25px;
}
.faq__image-main {
   flex: 1;
   padding: 0 15px;
}
.faq__image {
   width: 100%;
   height: 100%;
}
.faq__image img {
   object-fit: cover;
   width: 100%;
   height: auto;
   aspect-ratio: 0.86;
}

@media screen and (min-width: 767px) {
   .faq__general-grid {
      display: flex;
      flex-direction: row;
   }
   .faq__image img {
      height: auto;
   }
   .title-font-light {
      font-size: 34px;
   }
}

@media screen and (min-width: 991px) {
   .title-font-light {
      font-size: 39px;
   }
}

@media screen and (min-width: 1200px) {
   .title-font-light {
      font-size: 45px;
   }
}