.stunning-spots {
    background-color: var(--background-dark);
}
.stunning-spots__title {
    color: var(--chapter-font-color-light);
    font-size: 13px;
    font-weight: 500;
}
.stunning-spots__quote-text {
    color: var(--title-font-color-light);
    font-family: "Playfair Display", sans-serif;
    font-size: 21px;
    font-weight: 600;
}
.stunning-spots__main-text, .stunning-spots__quote-autor {
    color: var(--chapter-font-color-light);
    font-size: 17px;
    font-weight: 400;
}
.stunning-spots__quote-block, .stunning-spots__quote-autor {
    text-align: center;
}
.stunning-spots__double-quotes {
    width: 50px;
}
.stunning-spots__quote {
    margin-left: auto;
    margin-right: auto;
    width: 594px;
    text-align: center;
    border-top: 4px, solid, var(--title-font-color);
    border-bottom: 4px, solid, var(--title-font-color);
}